{% extends "base.html" %}
{% block body %}
<div class="row">
  <div class="col-md-4 col-xs-4">
    <h2>Scouting Form</h2>
  </div>
  <div class="col-md-8 col-xs-8 text-right">
    <img src="static/custom/logo.png" id="logo"></img>
  </div>
</div>
<form method="post" id="scouting-form" autocomplete="off">
  {{ form.csrf_token }}
  <div class="row form-group">
    <div class="col-md-4 col-xs-12">
      {{ form.match_id.label }} {{ form.match_id }}
    </div>
    <div class="col-md-4 col-xs-12">
      {{ form.team_id.label }} {{ form.team_id }}
    </div>
  </div>
  <div class="game-period">
    <h3>Autonomous</h3>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        {{ form.auton_start.label }} {{ form.auton_start }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 col-xs-12">
        {{ form.auton_breach.label }} {{ form.auton_breach }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        {{ form.auton_score.label }} {{ form.auton_score }}
      </div>
    </div>
  </div>
  <div class="game-period">
    <h3>Teleop</h3>
    <div class="row">
      <div class="col-md-4 col-xs-12 text-right">
        {{ form.breach_count.label }} {{ form.breach_count }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.cf_breach.label }} {{ form.cf_breach }}
      </div>
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.rp_breach.label }} {{ form.rp_breach }}
      </div>
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.sp_breach.label }} {{ form.sp_breach }}
      </div>
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.rt_breach.label }} {{ form.rt_breach }}
      </div>
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.lb_breach.label }} {{ form.lb_breach }}
      </div>      
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.pc_breach.label }} {{ form.pc_breach }}
      </div>
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.mo_breach.label }} {{ form.mo_breach }}
      </div>   
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.db_breach.label }} {{ form.db_breach }}
      </div>   
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.rw_breach.label }} {{ form.rw_breach }}
      </div>            
    </div>

    <div class="row">   
      <div class="col-md-3 col-xs-12 text-right">
        {{ form.high_scores.label }} {{ form.high_scores }}
      </div>
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.fouls.label }} {{ form.fouls }}
      </div>      
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-12 text-right">
        {{ form.high_misses.label }} {{ form.high_misses }}
      </div>  
      <div class="col-md-2 col-xs-12 text-right">
        {{ form.tech_fouls.label }} {{ form.tech_fouls }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-xs-12 text-right">
        {{ form.low_scores.label }} {{ form.low_scores }}
      </div>   
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12">
        {{ form.defense.label }} {{ form.defense }}
      </div>
    </div>
  </div>
  <div class="game-period">
    <h3>End Game</h3>
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-12">
      {{ form.hang.label }} {{ form.hang }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <h3>Comments</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-xs-12">
      {{ form.comments(rows='5', cols='50') }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"><input type="submit" class="btn btn-primary" value="Save"></div>
  </div>
</form>
{% endblock %}
